COMPANY_NAME="Vercel Inc."
SITE_NAME="Next.js Commerce"
SHOPIFY_REVALIDATION_SECRET=""
SHOPIFY_STOREFRONT_ACCESS_TOKEN=""
SHOPIFY_STORE_DOMAIN="[your-shopify-store-subdomain].myshopify.com"

# NextAuth.js 配置
# 用于签名和加密 JWT 及 Cookie 的密钥（生成方式: openssl rand -base64 32）
AUTH_SECRET=""
# 应用 URL（生产环境需要设置）
AUTH_URL="http://localhost:3000"
